//Primary Colors
$dark-green: #1b4332;
$medium-green: #2d6a4f;
$light-green: #52b788;
$mint-green: #74c69d;

// secondary colors
$white: #ffffff;
$light-gray: #f5f5f5;
$medium-gray: #e0e0e0;
$dark-gray: #6b6b6b;
$neutral-black: #1a1a1a;

// status-tag colors
$tag-green: #52b788;
$tag-yellow: #f4a261;
$tag-blue: #4895ef;

$border-radius: 30px;
